@import "bulma";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-main {
  @extend .column;
  @extend .content;
}

.entry-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.entry-title {
  @extend .title;
}

.single .hentry {
  margin-bottom: 3rem;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
  @extend .column;
  @extend .is-one-third;
}

.wp-block-search {
  &__label {
    @extend .menu-label;
  }

  &__input {
    @extend .input;
  }

  &__inside-wrapper {
    @extend .control;
  }

  &__button {
    display: none;
  }
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.widget h2 {
  @extend .menu-label;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  @extend .footer;
}

.site-info {
  @extend .container;
  @extend .has-text-centered;
}