@import "bulma";

.container {
  @extend .px-4;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  @extend .navbar;
  @extend .is-warning;
  @extend .mb-6;
}

.site-brand {
  @extend .navbar-brand;
}

.site-title {
  @extend .is-size-5;
  @extend .has-text-weight-bold;
}

.nav-menu {
  @extend .navbar-menu;

  li {
    @extend .navbar-item;
  }
}

.menu-toggle {
  @extend .is-hidden-desktop;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-main {
  @extend .column;
  @extend .content;

  figure {
    @extend .image;
    @extend .is-fullwidth;
  }
}

.hentry {
  & label {
    @extend .label;
  }

  & input:not([type="checkbox"]),
  & input:not([type="radio"]) {
    @extend .input;
  }
}

.entry-header {
  border-bottom: 1px solid #ccc;
  @extend .mb-6;
  @extend .pb-6;
}

.entry-title {
  @extend .title;
}

.single .hentry {
  @extend .mb-6;
}

.entry-footer {
  @extend .my-6;
  @extend .is-flex;
  gap: 1rem;
}

.comments-link,
.edit-link,
.tag-links a,
.cat-links a {
  @extend .button;
  @extend .is-small;
}

.edit-link {
  @extend .is-info;
  @extend .is-light;
  @extend .ml-4;
}

.tag-links a,
.cat-links a {
  @extend .is-primary;
  @extend .is-light;
}

.post-navigation {
  @extend .mb-6;

  .nav-subtitle {
    @extend .is-sr-only;
  }

  .nav-title {
    word-wrap: break-word;
  }

  .nav-links {
    @extend .columns;

    & .nav-previous,
    & .nav-next {
      @extend .column;
    }

    & .nav-previous a,
    & .nav-next a {
      @extend .button;
      @extend .is-light;
      @extend .is-link;
      @extend .py-5;
    }

    & .nav-next {
      @extend .is-flex;
      @extend .is-justify-content-flex-end;
    }

    & .nav-previous {
      @extend .is-flex;
      @extend .is-justify-content-flex-start;
    }
  }
}

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comment-form label {
  @extend .label;
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-cookies-consent {
  @extend .control;

  input:not([type="checkbox"]) {
    @extend .input;
  }
}

.comment-form-comment {
  textarea {
    @extend .textarea;
  }
}

.comment-form-cookies-consent {
  @extend .is-flex;

  input {
    @extend .mr-4;
  }
}

.form-submit {
  @extend .control;
}

.submit {
  @extend .button;
  @extend .is-primary;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
  @extend .column;
  @extend .is-one-third;
}

.wp-block-search {
  &__label {
    @extend .menu-label;
  }

  &__input {
    @extend .input;
  }

  &__inside-wrapper {
    @extend .control;
  }

  &__button {
    display: none;
  }
}

.search-form {
  @extend .mb-6;
}

.search-field {
  @extend .input;
}

.search-submit {
  display: none;
}

.columns .widget {
  @extend .column;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.widget h2 {
  @extend .menu-label;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  @extend .footer;
}

.site-info {
  @extend .container;
  @extend .has-text-centered;
}